<h1>Pré-Fechamento</h1>

<tds-dropdown
   name="dropdown"
   label-position="outside"
   placeholder="Selecione uma página"
   size="lg"
   open-direction="auto"
  >
    <tds-dropdown-option routerLink="/apontamentos">Apontamento</tds-dropdown-option>
    <tds-dropdown-option routerLink="/equipamentos">Equipamento</tds-dropdown-option>
    <tds-dropdown-option routerLink="/">MTM</tds-dropdown-option>
    <tds-dropdown-option routerLink="/">Operations</tds-dropdown-option>
    <tds-dropdown-option routerLink="/">Outro</tds-dropdown-option>
    <tds-dropdown-option routerLink="/">Fixed Budget</tds-dropdown-option>
    <tds-dropdown-option routerLink="/">Contracts</tds-dropdown-option>
    <tds-dropdown-option routerLink="/">Histórico</tds-dropdown-option>
</tds-dropdown>

