<tds-header>
    <tds-header-title>FIT - FINANCIAL IT</tds-header-title>

    <tds-header-dropdown slot="end" class="demo-hide demo-xs-show">

      <tds-header-dropdown-list size="lg">

        <tds-header-dropdown-list-user
          header="Name Nameson"
          subheader="Company name"
        ></tds-header-dropdown-list-user>
        <tds-header-dropdown-list-item>
          <a href="https://www.scania.com">My Instructions</a>
        </tds-header-dropdown-list-item>
        <tds-header-dropdown-list-item>
          <a href="https://www.scania.com">Task List</a>
        </tds-header-dropdown-list-item>
      </tds-header-dropdown-list>
    </tds-header-dropdown>

    <tds-header-brand-symbol slot="end">
      <a aria-label="Scania - red gryphon on blue shield" href="https://scania.com"></a>
    </tds-header-brand-symbol>
  </tds-header>
  
