<h1>Apontamentos</h1>

<!--Aviso na tela-->
<div class="informacao">
  <tds-message
  variant="information"
  mode-variant="inherit from parent">
    Início do processo de fechamento de apontamento. <br>
    ✦ Gere o relatório. <br>
    ✦ Aprove o relatório. <br>
    Após a aprovação do relatório o processo de fechamento do apontamento de horas (Notation e JIRA), será iniciado.
  </tds-message>
</div>

<!--Primeira fila de Labels-->
<div class="container">

  <tds-text-field class="data"
  type="Date"
  size="lg"
  label="Data Contábil"
  label-position="outside"
  placeholder="Placeholder"
  >
  </tds-text-field>

  <tds-dropdown class="exibir"
  name="dropdown"
  size="lg"
  label="Exibir"
  label-position="outside"
  placeholder="Selecione uma opção"
  open-direction="auto"
  >
    <tds-dropdown-option value="option-1">Todos</tds-dropdown-option>
    <tds-dropdown-option value="option-2">Com Cobrança</tds-dropdown-option>
    <tds-dropdown-option value="option-3">Sem Cobrança</tds-dropdown-option>
  </tds-dropdown>

  <tds-button class="botao"
  type="button"
  variant="primary"
  size="lg"
  text="Gerar Relatório">
    <tds-icon slot="icon" name="send" size="20px"></tds-icon>
  </tds-button>
</div>

<!--Segunda fila de Labels-->
<div class="container2">
  <tds-dropdown class="semanai"
  name="dropdown"
  size="lg"
  label="Semana Inicial"
  label-position="outside"
  placeholder="Ano/Semana"
  open-direction="auto"
  >
    <tds-dropdown-option value="option-1">2024 / W30 - 22.07.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-2">2024 / W31 - 29.07.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-3">2024 / W32 - 05.08.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-4">2024 / W33 - 12.08.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-5">2024 / W34 - 19.08.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-6">2024 / W35 - 26.08.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-7">2024 / W36 - 02.09.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-8">2024 / W37 - 09.09.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-9">2024 / W38 - 16.09.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-10">2024 / W39 - 23.09.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-11">2024 / W40 - 30.09.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-12">2024 / W41 - 07.10.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-13">2024 / W42 - 14.10.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-14">2024 / W43 - 21.10.2024</tds-dropdown-option>
    <tds-dropdown-option value="option-15">2024 / W44 - 28.10.2024</tds-dropdown-option>
  </tds-dropdown>

  <tds-dropdown class="semanaf"
  name="dropdown"
  size="lg"
  label="Semana Final"
  label-position="outside"
  placeholder="Ano/Semana"
  open-direction="auto"
  >
    <tds-dropdown-option value="option-1">Todos</tds-dropdown-option>
    <tds-dropdown-option value="option-2">Com Cobrança</tds-dropdown-option>
    <tds-dropdown-option value="option-3">Sem Cobrança</tds-dropdown-option>
  </tds-dropdown>

<tds-button class="botao"
  type="button"
  variant="primary"
  size="lg"
  text="Exportar Excel">
    <tds-icon slot="icon" name="save" size="20px"></tds-icon>
</tds-button>

</div>

<!--Divisão de tela-->
<div class="divisao">
  <div style="width: 900px;">
    <tds-divider orientation="horizontal"></tds-divider>
  </div>
</div>

<!--Talvez uma tabela-->
<div>
  <tds-table class="tabela">
    <tds-table-header compactDesign="compact-design" responsive="responsive">
       <tds-header-cell customWidth="100px" cell-key="credito" cell-value="CC Crédito" text-align="center"></tds-header-cell>
       <tds-header-cell customWidth="100px" cell-key="local" cell-value="Local" text-align="center"></tds-header-cell>
       <tds-header-cell customWidth="100px" cell-key="debito" cell-value="CC Débito" text-align="center"></tds-header-cell>
       <tds-header-cell customWidth="100px" cell-key="produto" cell-value="Produto" text-align="center"></tds-header-cell>
       <tds-header-cell customWidth="100px" cell-key="tipo" cell-value="Tipo" text-align="center"></tds-header-cell>
       <tds-header-cell customWidth="100px" cell-key="codigo" cell-value="Código" text-align="center"></tds-header-cell>
       <tds-header-cell customWidth="100px" cell-key="user" cell-value="Usuario" text-align="center"></tds-header-cell>
    </tds-table-header>
    <tds-table-body responsive="responsive">
      <tds-table-body-row>
        <tds-body-cell customWidth="100px" cell-key="teste" cell-value="tst" text-align="center"></tds-body-cell>
      </tds-table-body-row>
    </tds-table-body>
  </tds-table>
</div>
